{%- liquid
    assign section_color = section.settings.color_scheme 
    assign counter = 0
-%}
  
  {%- if section.settings.show_product_recommendations -%}
    {%- if recommendations.performed -%}
      {% if recommendations.products_count > 0 %}
        <div class="product-recommendations">
          <div class="product-recommendations-wrapper border-t-grid border-grid-color ">
            {% if section.settings.product_recommendations_heading != '' %}
              {%- render 'section-title',
                title: section.settings.product_recommendations_heading,
                section_color: section_color
              -%}
            {% endif %}
            <ul class="product-recommendations-container ">
              {%- for product in recommendations.products -%}
                {%- assign counter = counter | plus: 1 -%}
                <li class=" bg-{{ section_color }}-background text-{{ section_color }}-text">
                  <a href="{{product.url}}">
                    <img src="{{product.featured_image | image_url: width: '400'}}" alt="{{product.featured_image.alt }}">
                  </a>
                </li>
              {%- endfor -%}
              
            </ul>
          </div>
        </div>
      {% endif %}
    {%- else  -%}
      <div
        class="product-recommendations"
        data-base-url="{{ routes.product_recommendations_url }}"
        data-product-id="{{ product.id }}"
        data-section-id="{{ section.id }}"
        data-section-type="product-recommendations"
        data-limit="{{ section.settings.limit }}">
      </div>
    {%- endif -%}
  {%- endif -%}
  
  {% schema %}
  {
    "name": "Product recommendations",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_product_recommendations",
        "label": "Show dynamic recommendations",
        "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
        "default": true
      },
      {
        "type": "text",
        "id": "product_recommendations_heading",
        "label": "Heading",
        "default": "You may also like"
      }
    ]
  }
  {% endschema %}
  